<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.4" targetFramework="net461" />
  <package id="MySql.Data" version="6.10.6" targetFramework="net461" />
</packages>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<connectionStrings>
     <add name="conexaoGabriel" connectionString="Data Source=127.0.0.1,1433;Initial Catalog=dbComercio;Integrated Security=True" providerName="MySql.Data.MySqlClient" />
</connectionStrings>
</configuration>